// .links {
//     display: block;
//     width: 100%;
//     margin: 1rem auto 0;
//     a {
//         color : black
//     }
// }
.forget-password {
    display: block;
    font-size: 0.8rem;
    margin : 18px 0;
    color  :red;
    float:  right
}